fastapi>=0.95.0
uvicorn>=0.21.1
pydantic>=1.10.7
requests>=2.28.2
beautifulsoup4>=4.12.0
python-dotenv>=1.0.0
llama-index>=0.8.0
huggingface_hub>=0.16.4
transformers>=4.30.0
sentence-transformers>=2.2.2
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-core